.menu-container {
    .menu-items {
        padding: 0;
        .menu-item {
            margin-right: $spacing*3;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}